body {
    margin: 0;
    padding: 0;
    font-family: 'Alef', sans-serif;
    background-color: #F9F9F9;
}


/* -- ---- HEADER ---- -- */
.header {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.header button {
    background-color: #FF8926;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.header button:hover {
    background-color: #FF6C00;
}


.logo img {
    width: 200px;
}

.header ul,
.header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header li,
.header li {
    display: inline;
    margin: 8px;
    margin: 0 8px;
}

.header a,
.header a {
    text-decoration: none;
    color: #2C2D2D;
}

.agora a {
    color: #FF8926;
    font-weight: bold;
}



/* FORMULARIO IDENTIFICAÇÃO */
.quadrado {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
    margin: 10px; 
}

.formulario h1 {
    font-size: 24px;
    color: #333;
}

.formulario p {
    font-size: 16px;
    color: #666;
}

.formularioUsuario {
    display: flex;
    flex-direction: column;
}


input,
select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #ff8926;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6c00;
}

.titulo{
    text-align: center;
    padding-top: 20px;
}